*{
    font-family: 'Work Sans', sans-serif;

}
header{
    background: antiquewhite;
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
 nav > ul {
    display: flex;
 }
 nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
 }
 nav li a{
    text-decoration: none;
    color: black;
 }
 .nav-title{
    font-size: 3rem;
    font-weight: 700;
    color: black;
 }
 .bannar-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
 }
 .bannar-title{
    font-size: 4rem;
    font-weight: 700;
    color: black;
 }
 .bannar-description{
    color: darkseagreen;
 }
 .primary{
    border-radius: 8px;
    background: red;
    padding: 20px 25px;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    margin-bottom: 30px;
 }
 .bannar img{
    width: 100%;
 }
 /* mobile devices */
 @media screen and (max-width: 576px){
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
 }
 /* tablet or medium devices */
 @media screen and ( min-width: 576px) and (max-width:960px){
    nav{
        flex-direction: column;
    }
 }